# 依赖目录
node_modules/

# 日志文件
*.log
npm-debug.log*

# 系统文件
.DS_Store
Thumbs.db

# IDE 文件
.vscode/
.idea/
*.swp
*.swo

# 测试文件
test.xlsx
test.js

# Electron 打包输出
dist/
out/
electron-builder-cache/

# 环境变量
.env
package-lock.json
remove-watermark/models/lama.onnx
remove-watermark/models/lama_fp32.onnx
